{{>layout/header}}
<div class="content" id="context">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" id="loginUser" value="{{loginUser}}">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div style="float: left">
                            <h4 class="card-title">{{#messages}}title.point.history{{/messages}}</h4>
                        </div>

                        <div style="float: right">
                            <form class="form-inline ml-auto" id="pointHistorySearchForm">
                                <span>{{#messages}}point.history.created.date{{/messages}}</span>
                                <div class="form-group has-white">
                                    <input type="text" class="form-control datepicker" id="search_startDate"
                                           maxlength="10">
                                    <span>-</span>
                                    <input type="text" class="form-control datepicker" id="search_endDate"
                                           maxlength="10">
                                </div>
                                <span>{{#messages}}user.full.name{{/messages}}</span>
                                <div class="form-group has-white">
                                    <input type="text" class="form-control" id="search_fullName" maxlength="25" style="color: white;">
                                </div>
                                <button type="button" class="btn btn-white btn-round btn-just-icon" id="btn_search"
                                        name="search">
                                    <i class="material-icons">search</i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-center text-primary">
                                    <th>No</th>
                                    <th>{{#messages}}user.username{{/messages}}</th>
                                    <th>{{#messages}}user.full.name{{/messages}}</th>
                                    <th>{{#messages}}point.history.point{{/messages}}</th>
                                    <th>{{#messages}}point.history.created.date{{/messages}}</th>
                                    <th>{{#messages}}point.history.modified.date{{/messages}}</th>
                                    <th>{{#messages}}status{{/messages}}</th>
                                </thead>
                                <tbody id="pointHistoriesArea"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="pointHistoriesTemplate" type="text/x-jquery-tmpl">
<tr id='${id}'>
    <td class="text-center">${id}</td>
    <td class="text-left">${username}</td>
    <td class="text-left">${fullName}</td>
    <td class="text-right">${point}</td>
    <td class="text-center">${createdDate}</td>
    <td class="text-center">${modifiedDate}</td>
{%if status%}
    {%if status == 'Y'%}
        <td class="text-left">Approved by ${adminId}</td>
    {%else%}
        <td class="text-left">Denied by ${adminId}</td>
    {%/if%}
{%else%}
    <td class="td-actions text-center">
        <button type="button" class="btn btn-info" name="btn_approve" value="Y"><i class="material-icons">done</i></button>&nbsp;
        <button type="button" class="btn btn-danger" name="btn_deny" value="N"><i class="material-icons">clear</i></button>
    </td>
{%/if%}
<tr>
</script>
<script type="text/javascript" src="/js/plugins/jquery.tmpl.js"></script>
<script type="text/javascript" src="/js/plugins/moment.js"></script>
<script type="text/javascript" src="/js/point-history.js"></script>
{{>layout/footer}}