{{>layout/header}}
<div class="content" id="context">
    <div class="col-md-6">
        <input type="hidden" id="loginUser" value="{{loginUser}}">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">{{#messages}}title.pointHistory{{/messages}}</h4>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="inputState">{{#messages}}state{{/messages}}</label>
                            <select class="form-control selectpicker" data-style="btn btn-link" id="search_status">
                                <option value="" selected>{{#messages}}all{{/messages}}</option>
                                <option value="Y">{{#messages}}approved{{/messages}}</option>
                                <option value="N">{{#messages}}deny{{/messages}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="inputUserId">{{#messages}}user.id{{/messages}}</label>
                            <input type="text" class="form-control" placeholder="USER ID" id="search_userName" value="">
                        </div>
                        <button type="button" class="btn btn-white btn-round btn-just-icon" id="btn_search" name="search">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>No</th>
                        <th>{{#messages}}user.id{{/messages}}</th>
                        <th>{{#messages}}point{{/messages}}</th>
                        <th>{{#messages}}request.date{{/messages}}</th>
                        <th>{{#messages}}update.date{{/messages}}</th>
                        <th>{{#messages}}state{{/messages}}</th>
                    </tr>
                </thead>
                <tbody>
                {{#pointHistory}}
                    <tr id="{{id}}">
                        <td class="text-center">{{id}}</td>
                        <td class="text-left">{{user.username}}</td>
                        <td class="text-center text-primary">{{point}}</td>
                        <td class="text-center">{{requestDate}}</td>
                        {{#status}}
                            <td class="text-center">{{updateDate}}</td>
                            {{#isApproved}}
                                <td class="text-left">Approved by {{adminId}}</td>
                            {{/isApproved}}
                            {{^isApproved}}
                                <td class="text-left">Denied by {{adminId}}</td>
                            {{/isApproved}}
                        {{/status}}
                        {{^status}}
                            <td></td>
                            <td class="td-actions text-center">
                                <button type="button" class="btn btn-info" name="btn_approve" value="Y">
                                    <i class="material-icons">done</i>
                                </button>&nbsp;
                                <button type="button" class="btn btn-danger" name="btn_deny" value="N">
                                    <i class="material-icons">clear</i>
                                </button>
                            </td>
                        {{/status}}
                    </tr>
                {{/pointHistory}}
                {{^pointHistory}}
                    <tr>
                        <td>{{#messages}}search.no.data{{/messages}}</td>
                    </tr>
                {{/pointHistory}}
                </tbody>
            </table>
        </div>
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" id="previous">Previous</a>
                    </li>
                {{#page}}
                    <li class="page-item">
                        <a class="page-link" id="page_{{{.}}}" value="{{{.}}}">{{{.}}}</a>
                    </li>
                {{/page}}
                    <li class="page-item disabled">
                        <a class="page-link" id="next">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/point-history.js"></script>
{{>layout/footer}}