{{>layout/header}}
<div class="content" id="context">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div style="float: left">
                            <h4 class="card-title ">{{#messages}}menu.product{{/messages}}</h4>
                            <p class="card-category">Product management</p>
                        </div>
                        <div style="float: right">
                            <form class="form-inline ml-auto" id="productSearchForm" action="" onsubmit="return false;">
                                <input type="hidden" name="searchKey" value=""/>
                                <div class="dropdown" style="margin-right: 10px;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-product-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{#messages}}product.name{{/messages}}
                                    </button>
                                    <div id="product-search-field" class="dropdown-menu" aria-labelledby="dropdownMenuButton-product-search">
                                        <a class="dropdown-item" href="#none" searchKey="name">{{#messages}}product.name{{/messages}}</a>
                                        <a class="dropdown-item" href="#none" searchKey="categoryName">{{#messages}}category{{/messages}}</a>
                                    </div>
                                </div>
                                <div class="form-group has-white">
                                    <input id="searchValue" name="searchValue" type="text" value="" class="form-control" placeholder="Search" style="color: whitesmoke">
                                </div>
                                <button type="button" class="btn btn-white btn-round btn-just-icon" id="search" name="search">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive" id="result1">
                            <table class="table" id="templ1">
                                <thead class="text-primary text-center">
                                <th>NO</th>
                                <th>{{#messages}}category{{/messages}}</th>
                                <th>{{#messages}}product.name{{/messages}}</th>
                                <th>{{#messages}}point{{/messages}}</th>
                                <th>{{#messages}}quantity{{/messages}}</th>
                                <th>{{#messages}}admin.id{{/messages}}</th>
                                <th>{{#messages}}created.date{{/messages}}</th>
                                <th>{{#messages}}modified.date{{/messages}}</th>
                                <th>{{#messages}}action{{/messages}}</th>
                                </thead>
                                <tbody id="products" class="text-center"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <nav aria-label="Page navigation">
                        <ul id="productsPagingArea" class="pagination justify-content-center"></ul>
                    </nav>
                </div>
                <div>
                    <button class="btn btn-round" data-toggle="modal" data-target="#createProductModal">
                        <i class="material-icons">assignment</i>&nbsp;{{#messages}}btn.create{{/messages}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createProductModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document" style="margin-top: 160px;">
        <div class="modal-content">
            <div class="card card-signup card-plain" style="margin-top: 0;margin-bottom: 0">
                <div class="modal-header" style="padding-top: 0;">
                    <div class="card-header card-header-primary text-center" style="width: 100%">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title" id="modalTitle">{{#messages}}product.detail{{/messages}}</h4>
                        <input type="hidden" id="productId" name="productId">
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="" action="">
                        <p class="description text-center">Modify Product Detail</p>
                        <div class="card-body">

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <label for="barcode">{{#messages}}barcode{{/messages}}</label>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="barcode" name="barcode" value="" readonly>
                                </div>
                            </div>

                            <div class="form-group bmd-form-group" id="div_categoryName">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <label for="category">{{#messages}}category{{/messages}}</label>
                                        </div>
                                    </div>
                                    <select id="categoryName" class="form-control" data-style="btn btn-link" name="categoryName" >
                                        <option value="0" selected>{{#messages}}info.choose.product.category{{/messages}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group bmd-form-group" id="div_name">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <label for="name" style="margin-right: 1.2em">{{#messages}}product.name{{/messages}}</label>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="name" name="name" maxlength="50">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group" id="div_point">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <label for="amount">{{#messages}}amount{{/messages}}</label>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="point" name="point" maxlength="17">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group" id="div_quantity">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <label for="quantity">{{#messages}}quantity{{/messages}}</label>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control selectpicker" id="quantity" name="quantity" maxlength="5" readonly>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-primary" id="addProuct" style="float:right">{{#messages}}btn.create{{/messages}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="productsTemplate" type="text/x-jquery-tmpl">
<tr>
    <td style='display:none;position:absolute'><a product-id="${id}">${id}</a></td>
    <td>${number}</td>
    <td>${categoryName}</td>
    <td>${name}</td>
    <td class='text-right'>${point}</td>
    <td class='text-right'>${quantity}</td>
    <td style='display:none;position:absolute'>${barcode}</td>
    <td>${adminId}</td>
    <td>${createdDate}</td>
    <td>${modifiedDate}</td>
    <td class='td-actions text-center'>
        <button type='button' rel='tooltip' class='btn btn-success' name='details'>
            <i class='material-icons' data-toggle='modal' data-target='#createProductModal'>edit</i>
        </button>
        <button type='button' rel='tooltip' class='btn btn-danger' name='delete'>
             <i class='material-icons'>close</i>
         </button>
    </td>
</tr>
</script>
<script id="productsNoDataTemplate" type="text/x-jquery-tmpl">
<tr>
    <td colspan="10">{{#messages}}info.search.no.data{{/messages}}</td>
</tr>
</script>
<script id="productsPagingTemplate" type="text/x-jquery-tmpl">
<li class="page-item">
    <a class="page-link" href="#none">${page}</a>
</li>
</script>
<script id="categoriesSelectTemplate" type="text/x-jquery-tmpl">
    <option value=${id}>${name}</option>
</script>
<!-- barcode scanner -->
<script src="/js/jquery.scannerdetection.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.tmpl.js"></script>
<script type="text/javascript" src="/js/product.js"></script>
{{>layout/footer}}