{{>layout/header}}
<style>
    .form-group .bmd-label-static {
        color: darkblue;
        top: -10px;
        position: initial;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 0px;
    }

    .table .popthead tr th {
        font-size: 0.875rem;
        color: darkblue;
        font-weight: bolder;
    }

    .table .popthead td {
        font-size: 0.875rem;
        color: darkblue;
        font-weight: bolder;
    }
</style>

<div class="content" id="context">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div style="float: left">
                            <h4 class="card-title ">{{#messages}}menu.transaction{{/messages}}</h4>
                            <p class="card-category">Transaction Management</p>
                        </div>
                        <div style="float: right">
                            <form class="form-inline ml-auto" id="TransactionSearchForm" action=""
                                  onsubmit="return false;">
                                <input type="hidden" name="searchKey" value=""/>
                                    <span>{{#messages}}transaction.created.date{{/messages}}</span>
                                    <div class="form-group has-white">
                                        <input type="text" class="form-control datepicker" id="fromDate" maxlength="10">
                                        <span>-</span>
                                        <input type="text" class="form-control datepicker" id="toDate" maxlength="10">
                                    </div>
                                <div class="dropdown" style="margin-right: 10px;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-transaction-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{#messages}}user.id{{/messages}}
                                    </button>
                                    <div id="transaction-search-field" class="dropdown-menu"
                                         aria-labelledby="dropdownMenuButton-transaction-search">
                                        <a class="dropdown-item" href="#none" searchKey="userId">{{#messages}}user.id{{/messages}}</a>
                                        <a class="dropdown-item" href="#none" searchKey="paymentType">{{#messages}}payment.type{{/messages}}</a>
                                        <a class="dropdown-item" href="#none" searchKey="point">{{#messages}}point{{/messages}}</a>
                                        <a class="dropdown-item" href="#none" searchKey="state">{{#messages}}status{{/messages}}</a>
                                        <a class="dropdown-item" href="#none" searchKey="type">{{#messages}}type{{/messages}}</a>
                                        <a class="dropdown-item" href="#none" searchKey="requestId">{{#messages}}request.id{{/messages}}</a>
                                    </div>
                                </div>

                                <div class="col has-white">
                                    <input id="searchValue" name="searchValue" type="text" value="" class="form-control"
                                           placeholder="Search" style="color: whitesmoke">
                                </div>
                                <button type="button" class="btn btn-white btn-round btn-just-icon" id="search"
                                        name="search">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive" id="result1">
                            <table class="table" id="templ1">
                                <thead class=" text-primary text-center">
                                <th>NO</th>
                                <th>{{#messages}}user.id{{/messages}}</th>
                                <th>{{#messages}}payment.type{{/messages}}</th>
                                <th>{{#messages}}amount{{/messages}}</th>
                                <th>{{#messages}}status{{/messages}}</th>
                                <th>{{#messages}}type{{/messages}}</th>
                                <th>{{#messages}}created.date{{/messages}}</th>
                                <th>{{#messages}}modified.date{{/messages}}</th>
                                <th>{{#messages}}action{{/messages}}</th>
                                </thead>
                                <tbody id="transactions" class="text-center"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <nav aria-label="Page navigation">
                        <ul id="transactionsPagingArea" class="pagination justify-content-center"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="transactionDetailModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document" style="max-width: 800px;margin-top: 160px;">
        <div class="modal-content">
            <div class="card card-signup card-plain" style="margin-top: 0;margin-bottom: 0">
                <div class="modal-header" style="padding-top: 0;">
                    <div class="card-header card-header-primary text-center" style="width: 100%">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title" id="modalTitle">{{#messages}}transaction.detail{{/messages}}</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="" action="">
                        <div class="card-body">
                            <div class="form-row text-center">
                                <div class="form-group col-md-3">
                                    <label for="inputUserId">{{#messages}}user.id{{/messages}}</label>
                                    <input type="text" class="form-control text-center" id="BuyerId" name="BuyerId"
                                           disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPoint">{{#messages}}transaction.point{{/messages}}</label>
                                    <input type="text" class="form-control text-right" id="TransactionPoint"
                                           name="TransactionPoint" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputState">{{#messages}}transaction.state{{/messages}}</label>
                                    <input type="text" class="form-control text-center" id="TransactionState"
                                           name="TransactionState" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputType">{{#messages}}transaction.type{{/messages}}</label>
                                    <input type="text" class="form-control text-center" id="TransactionType"
                                           name="TransactionType" disabled>
                                </div>
                            </div>

                            <div class="form-row text-center">
                                <div class="form-group col-md-3">
                                    <label for="inputCity">{{#messages}}request.id{{/messages}}</label>
                                    <input type="text" class="form-control text-center" id="barcode" name="barcode"
                                           disabled>
                                </div>
                                <div class="form-group col-md-3" id="div_paymentBarcode">
                                    <label for="inputCity">{{#messages}}original.request.id{{/messages}}</label>
                                    <input type="text" class="form-control text-center" id="paymentBarcode"
                                           name="paymentBarcode" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPaymentType">{{#messages}}payment.type{{/messages}}</label>
                                    <input type="text" class="form-control text-center" id="PaymentType"
                                           name="PaymentType" disabled>
                                </div>
                            </div>

                            <div class="form-group"></div>
                            <table class="table" id="templ1">
                                <thead class=" text-primary text-center popthead">
                                <th>{{#messages}}product.name{{/messages}}</th>
                                <th>{{#messages}}quantity{{/messages}}</th>
                                <th>{{#messages}}point{{/messages}}</th>
                                </thead>
                                <tbody id="transactionItems" class="text-center"></tbody>
                                <table id="totalPoint" class="table text-center"></table>
                            </table>

                        </div>
                    </form>
                        <button type="submit" class="btn btn-danger" id="refund" style="float:right">{{#messages}}btn.refund{{/messages}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="transactionsTemplate" type="text/x-jquery-tmpl">
<tr>
   <td style='display:none;position:absolute'>${requestId}</td>
   {%if type == "REFUND"%}
        <td style='display:none;position:absolute'>${originRequestId}</td>
   {%/if%}
   <td>${number}</td>
   <td style='display: none'>${id}</td>
   <td>${username}</td>
   <td>${paymentType}</td>
   <td class='text-right'>${point}</td>
   <td>${state}</td>
   <td>${type}</td>
   <td>${createdDate}</td>
   <td>${modifiedDate}</td>
   <td class='td-actions text-center'>
        <button type='button' rel='tooltip' class='btn btn-success' name='details'>
            <i class='material-icons' data-toggle='modal' data-target='#addUpdateModal'>find_in_page</i>
        </button>
   </td>
</tr>
</script>
<script id="transactionsNoDataTemplate" type="text/x-jquery-tmpl">
<tr>
    <td colspan="10">{{#messages}}info.search.no.data{{/messages}}</td>
</tr>
</script>
<script id="transactionsItemsTemplate" type="text/x-jquery-tmpl">
<tr>
    <td>${productName}</td>
    <td class='text-right'>${productQuantity}</td>
    <td class='text-right'>${productPoint}</td>
</tr>
</script>
<script id="transactionsItemsNoDataTemplate" type="text/x-jquery-tmpl">
<tr>
    <td colspan="3">{{#messages}}info.search.no.data{{/messages}}</td>
</tr>
</script>
<script id="transactionsItemsTotalPointTemplate" type="text/x-jquery-tmpl">
<tr class='popthead' style='border: #9e9e9e 1px solid'>
    <td style='width:300px'> {{#messages}}total.point{{/messages}} :</td>
    <td colspan=2 class='text-right'>${totalPoint}</td>
</tr>
</script>
<script id="transactionsPagingTemplate" type="text/x-jquery-tmpl">
<li class="page-item">
    <a class="page-link" href="#none">${page}</a>
</li>
</script>

<script type="text/javascript" src="/js/plugins/jquery.tmpl.js"></script>
<script type="text/javascript" src="/js/transaction.js"></script>

{{>layout/footer}}