{{>layout/header}}
<div class="content" id="context">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div style="float: left">
                            <h4 class="card-title ">Transaction Table</h4>
                            <p class="card-category"> Here is a subtitle for this table</p>
                        </div>
                        <div style="float: right">
                            <form class="form-inline ml-auto" id="searchForm">
                                <div class="form-group">
                                    <input type="hidden" id="LoginUser" name="LoginUser" value={{loginUser}}>
                                    <input type="button" id="step1" name="step1" value="step1"/>
                                    <input type="button" id="step2" name="step2" value="step2"/>
                                    <input type="button" id="step3" name="step3" value="step3"/>
                                    <input type="button" id="step4" name="step4" value="step4"/>
                                    <select id="searchField" class="form-control form-control-t" data-style="btn btn-link" name="searchField" style="color: whitesmoke">
                                        <option selected>Choose...</option>
                                        <option>userId</option>
                                        <option>merchantId</option>
                                        <option>paymentType</option>
                                        <option>point</option>
                                        <option>state</option>
                                        <option>type</option>
                                    </select>
                                </div>
                                <div class="col has-white">
                                    <input id="searchValue" name="searchValue" type="text" value="" class="form-control form-control-t" placeholder="Search">
                                </div>
                                <button type="button" class="btn btn-white btn-round btn-just-icon" id="search"
                                        name="search">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </form>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" id="result1">
                            <table class="table" id="templ1">
                                <thead class=" text-primary text-center">
                                <th>id</th>
                                <th>userId</th>
                                <th>merchantId</th>
                                <th>paymentType</th>
                                <th>Point</th>
                                <th>State</th>
                                <th>Type</th>
                                <th>createdDate</th>
                                <th>modifiedDate</th>
                                <th>ACTIONS</th>
                                </thead>
                                <tbody id="transactions" class="text-center"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addUpdateModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document" style="max-width: 800px;margin-top: 160px;">
        <div class="modal-content">
            <div class="card card-signup card-plain" style="margin-top: 0;margin-bottom: 0">
                <div class="modal-header" style="padding-top: 0;">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title" id="modalTitle">Transaction Detail</h4>
                        <input type="hidden" id="id" name="id">
                        <input type="hidden" id="createdId" name="createdId">
                        <input type="hidden" id="modifiedId" name="modifiedId">
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="" action="">
                        <div class="card-body">
                            <input type="hidden" id="id" name="id">
                            <div class="form-row text-center">
                                <div class="form-group col-md-3 ">
                                    <label for="inputTransactionId">NO</label>
                                    <input type="text" class="form-control text-center" id="TransactionId" name="TransactionId" placeholder="ex> TransactionId" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputUserId">userId</label>
                                    <input type="text" class="form-control text-center" id="BuyerId" name="BuyerId" placeholder="ex> BuyerId" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputMerchantId">MerchantId</label>
                                    <input type="text" class="form-control text-center" id="MerchantId" name="MerchantId" placeholder="ex> MerchantId" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPaymentType">PaymentType</label>
                                    <input type="text" class="form-control text-center" id="PaymentType" name="PaymentType" placeholder="ex> TransactionId" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputPoint">TransactionPoint</label>
                                    <input type="text" class="form-control text-right" id="TransactionPoint" name="TransactionPoint" placeholder="ex> BuyerId" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputState">TransactionState</label>
                                    <input type="text" class="form-control text-center" id="TransactionState" name="TransactionState" placeholder="ex> MerchantId" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputType">TransactionType</label>
                                    <input type="text" class="form-control text-center" id="TransactionType" name="TransactionType" placeholder="ex> MerchantId" disabled>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputCity">Barcode</label>
                                    <input type="text" class="form-control text-center" id="barcode" name="barcode" placeholder="ex> MerchantId" disabled>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <table class="table" id="templ1">
                                <thead class=" text-primary text-center popthead">
                                <th>productName</th>
                                <th>amount</th>
                                <th>point</th>
                                </thead>
                                <tbody id="transactionDetail" class="text-center"></tbody>
                                <table id="detailsum" class="table text-center"></table>
                            </table>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/transaction.js"></script>
{{>layout/footer}}