{{>layout/header}}
<div class="content" id="context">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div style="float: left">
                            <h4 class="card-title ">{{#messages}}menu.user{{/messages}}</h4>
                            <p class="card-category">User Management</p>
                        </div>
                        <div style="float: right">
                            <form class="form-inline ml-auto" id="userSearchForm" action="" onsubmit="return false;">
                                <input type="hidden" name="searchKey" value="" />
                                <div class="dropdown" style="margin-right: 10px;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-user-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{#messages}}username{{/messages}}
                                    </button>
                                    <div id="user-search-field" class="dropdown-menu" aria-labelledby="dropdownMenuButton-user-search">
                                        <a class="dropdown-item" href="#none" searchKey="username">{{#messages}}username{{/messages}}</a>
                                        <a class="dropdown-item" href="#none" searchKey="fullName">{{#messages}}full.name{{/messages}}</a>
                                        <a class="dropdown-item" href="#none" searchKey="email">{{#messages}}email{{/messages}}</a>
                                        <a class="dropdown-item" href="#none" searchKey="department">{{#messages}}department{{/messages}}</a>
                                    </div>
                                </div>
                                <div class="form-group has-white">
                                    <input id="searchValue" name="searchValue" type="text" value="" class="form-control" placeholder="">
                                </div>
                                <button type="button" class="btn btn-white btn-round btn-just-icon" id="user-search-btn">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" id="result1">
                            <table class="table" id="templ1">
                                <thead class=" text-primary">
                                    <th>{{#messages}}username{{/messages}}</th>
                                    <th>{{#messages}}full.name{{/messages}}</th>
                                    <th>{{#messages}}email{{/messages}}</th>
                                    <th>{{#messages}}department{{/messages}}</th>
                                    <th>{{#messages}}role{{/messages}}</th>
                                    <th>{{#messages}}created.date{{/messages}}</th>
                                </thead>
                                <tbody id="usersArea"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <nav aria-label="Page navigation">
                        <ul id="usersPagingArea" class="pagination justify-content-center"></ul>
                    </nav>
                </div>
                <div>
                    <button class="btn btn-round" data-toggle="modal" data-target="#createUserModal">
                        <i class="material-icons">assignment</i>&nbsp;{{#messages}}btn.create{{/messages}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createUserModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center" style="width:100%">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">{{#messages}}user.info{{/messages}}</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="createUserForm" class="form" method="" action="">
                        <input type="hidden" id="userId" value="" />
                        <div class="card-body">
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width:100px;">
                                        <div class="input-group-text">{{#messages}}username{{/messages}}</div>
                                    </div>
                                    <input type="text" id="username" name="username" class="form-control" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width:100px;">
                                        <div class="input-group-text">{{#messages}}full.name{{/messages}}</div>
                                    </div>
                                    <input type="text" id="fullName" name="fullName" class="form-control" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width:100px;">
                                        <div class="input-group-text">{{#messages}}role{{/messages}}</div>
                                    </div>
                                    <select id="role" name="role" class="form-control">
                                        {{#roleNames}}
                                            <option value="{{{.}}}">{{{.}}}</option>
                                        {{/roleNames}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width:100px;">
                                        <div class="input-group-text">{{#messages}}department{{/messages}}</div>
                                    </div>
                                    <input type="text" id="department" name="department" class="form-control" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width:100px;">
                                        <div class="input-group-text">{{#messages}}email{{/messages}}</div>
                                    </div>
                                    <input type="text" id="email" name="email" class="form-control" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width:100px;">
                                        <div class="input-group-text">{{#messages}}phone.number{{/messages}}</div>
                                    </div>
                                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width:100px;">
                                        <div class="input-group-text">{{#messages}}password{{/messages}}</div>
                                    </div>
                                    <input type="password" id="password" name="password" class="form-control" maxlength="20">
                                </div>
                            </div>
                            <div id="activationArea" class="form-group bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width:100px;">
                                        <div class="input-group-text">{{#messages}}user.activation{{/messages}}</div>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="status" name="status" value="">&nbsp;
                                            <span class="form-check-sign">
                                              <span class="check"></span>
                                          </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <a href="#none" id="createUserBtn" class="btn btn-primary btn-round">{{#messages}}btn.create{{/messages}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="usersTemplate" type="text/x-jquery-tmpl">
<tr>
    <td><a href="#none" user-id="${id}">${username}</a></td>
    <td>${fullName}</td>
    <td>${email}</td>
    <td>${department}</td>
    <td>${role}</td>
    <td>${createdDate}</td>
</tr>
</script>
<script id="usersNoDataTemplate" type="text/x-jquery-tmpl">
<tr>
    <td colspan="6">{{#messages}}info.search.no.data{{/messages}}</td>
</tr>
</script>
<script id="usersPagingTemplate" type="text/x-jquery-tmpl">
<li class="page-item">
    <a class="page-link" href="#none">${page}</a>
</li>
</script>
<script type="text/javascript" src="/js/plugins/jquery.tmpl.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
{{>layout/footer}}